*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(235, 194, 201);
    border-bottom: 1px solid rgb(168, 167, 167);
}

#headertop{
    background-color: rgb(160, 160, 160);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    font-size: 1.3rem;  
    height: 2rem;
}
#headertop .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1320px;
    padding: 1rem;
    margin: 0 auto;
}
#headerbottom .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
   
}

#headerbottom{
     padding: 1rem 0;
     
}

#logoimage{
    width: 2.5rem;
}
.headerleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
}
#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.material-symbols-outlined{
    font-size: 1.5rem;
}
.searchinput{
    padding:0.5rem ;
    border: none;
    border-radius: 30px;
    outline: none;
    width: 100%;
}


.headerright{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.headerlink{
    position: relative;
}
.count{
    font-size: 1rem;
    background-color: orange;
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    translate: 40% -30%;
}
#menubutton{
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
}
#languageselect{
 display: none;
}
#alldepartmentbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(43, 206, 43);
    color: rgb(255, 255, 255);
}
#headercategories{
    display: none;
}
.remainingbutton{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
   }

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */

}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
   #headertop .container{
    justify-content: space-between;
   }
   #headercategories{
    display: flex;
    
   }
    #languageselect{
        display:flex ;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
  }
    #flag{
    width: 1.25rem;
  }
  #headercategories .container{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    gap:2rem;
    
   }
  
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    /* Your styles for large screens go here */
    #menubutton{
        display: none;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}